{% extends "base.html" %} {% block title %}Reset Password{% endblock %} {% block
content %}
<div class="container-sm mt-4">
  <h3>Set a new password</h3>
  <form method="post" action="{{ url_for('reset_post', token=token) }}">
    <input
      type="password"
      name="password"
      class="form-control mb-2"
      placeholder="New password"
      minlength="6"
      required
    />
    <input
      type="password"
      name="confirm"
      class="form-control mb-3"
      placeholder="Confirm password"
      required
    />
    <button class="btn btn-success w-100">Update password</button>
  </form>
</div>
{% endblock %}
